::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-zinc-50);
    border-radius: 3px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-zinc-50) transparent;
}
