@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
    --bg-color: #ffffff;
    --text-color: #1a1a1a;
    --card-color: #ffffff;
    --border-color: #cacaca;
}

[data-theme="dark"] {
    --bg-color: #000000;
    --text-color: #fafafa;
    --card-color: #000000;
    --border-color: #3a3a3a;
}

@theme {
    --color-bgcolor: var(--bg-color);
    --color-textcolor: var(--text-color);
    --color-cardcolor: var(--card-color);
    --color-bordercolor: var(--border-color);
    --color-primary: #7367f0;
    --color-info: #5d9fff;
    --color-warning: #ffc843;
    --color-success: #4fd86b;
    --color-error: #ff6b6b;
}

html,
body,
#app {
    background-color: var(--color-bgcolor);
    color: var(--color-textcolor);
    transition:
        background-color 300ms ease,
        color 300ms ease,
        border-color 300ms ease;
}

::view-transition-new(root),
::view-transition-old(root) {
    animation: none;
    mix-blend-mode: normal;
}

::view-transition-old(root) {
    z-index: 1;
}

::view-transition-new(root) {
    z-index: 99;
}

[data-theme="dark"]::view-transition-old(root) {
    z-index: 99;
}

[data-theme="dark"]::view-transition-new(root) {
    z-index: 1;
}
